<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>192745789331-ssi8q57bssdas2bkb7j8qi5n9guj0hm2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192745789331-ssi8q57bssdas2bkb7j8qi5n9guj0hm2</string>
	<key>API_KEY</key>
	<string>AIzaSyDj6I-PQab9phTOEY4dDnB2BYZ97zpWevI</string>
	<key>GCM_SENDER_ID</key>
	<string>192745789331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devhandles.HackForGoodSwift</string>
	<key>PROJECT_ID</key>
	<string>hackforgood-4991f</string>
	<key>STORAGE_BUCKET</key>
	<string>hackforgood-4991f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192745789331:ios:d16e0940e5d95d61</string>
	<key>DATABASE_URL</key>
	<string>https://hackforgood-4991f.firebaseio.com</string>
</dict>
</plist>